<link rel='stylesheet' href='/stylesheets/admin.css' />

<div class="logout">
    <div class="container">
        {{!-- fila 1 --}}
        <div class="row">
            <p class="text-end">Bienvenido {{usuario}} <a href="/admin/login/logout" class="btn btn-danger">Cerrar
                    sesión <i class="fa-solid fa-circle-xmark"></i></a></p>
        </div>
        {{!-- fin fila 1 --}}

        {{!-- fila 2 --}}
        <div class="row">
            <div class="col-7">
                <h3>Listado de noticias</h3>
            </div>
            <div class="col-5 text-end">
                <a href="/admin/noticias/agregar" class="btn btn-danger"><i class="fa fa-plus" aria-hidden="true"></i>Nuevo</a>
            </div>
        </div>
        {{!-- fin fila 2 --}}
        
        {{!-- fila 3 --}}
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Título</th>
                            <th scope="col" class="text-end">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each noticias}}
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td>{{titulo}}</td>
                            <td class="text-end">
                                <a href="/admin/noticias/editar/{{id}}"" class="btn btn-sm btn-dark">
                                    <i class="fa fa-edit"></i></a>
                                <a href="/admin/noticias/eliminar/{{id}}" class="btn btn-sm btn-dark">
                                    <i class="fa fa-backspace"></i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{!-- fin fila 3 --}}
    </div>
</div>